{
    "extends": "rallycoding",
    "rules": {
      "react/require-extension": "off",
      "max-len": "off",
      "arrow-body-style": "off",
      "camelcase" : "off",
      "react/jsx-closing-bracket-location": "off"
    }
  }